 *{
    margin: 0%;
 }
header{overflow: hidden;
height: 100px;
background-color: chocolate;
text-align: center;
}
.bar{overflow: hidden;
height: 150px;
background-color: blue;
text-align:center;
}
.bar1{
overflow: hidden;}
.bar2{
width: 30%;
height: 400px;
background-color: brown;
float: left;
}
.bar3{
width: 70%;
height: 400px;
background-color: coral;
float: right;
}
footer{
height: 100px;
background-color: black;
color: white;
text-align: center;
}




